/* 文章主体容器 */
.main-article {
    max-width: 100%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 分类标签 */
.article-category a {
    display: inline-block;
    padding: 4px 12px;
    background: #f8f9fa;
    border-radius: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.article-category a:hover {
    background: #e9ecef;
    transform: translateY(-1px);
}

/* 文章标题 */
.article-title {
    margin: 0;
}

.article-title a {
    /* remove the underline */
    text-decoration: none;
    color: #333;
    font-size: 25px;
}

/* 文章副标题 */
.article-subtitle {
    color: #888;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 400;
}

/* 时间信息容器 */
.article-time {
    display: flex;
    gap: 1.5rem;
    border-top: 1px solid #eee;
}

/* 单个时间项 */
.article-time div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #777;
    font-size: 0.9rem;
}

/* 时间文本 */
.article-time time {
    font-family: monospace;
    letter-spacing: -0.5px;
}

.article-time svg {
    max-width: 20px;
    stroke-width: 1.33;
}

/* 发布时间特定样式 */
.article-time--published {
    color: #666; /* 绿色表示创建时间 */
}

/* 最后修改时间样式 */
.article-lastmod {
    color: #666; /* 橙色表示修改时间 */
}

/* 文章内容 */
.article-content {
    line-height: 1.8;
    color: #444;
    font-size: 1.1rem;
}

.article-content p {
    margin-bottom: 1.5em;
}

.article-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1.5rem 0;
}

.article-footer a {
    display: inline-block;
    padding: 4px 12px;
    background: #f8f9fa;
    border-radius: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.article-footer a:hover {
    background: #e9ecef;
    transform: translateY(-1px);
}