<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/archives.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
</head>
<body>
    {{template "sidebar" .}}
    <main class="main full-width">
        <header>
            <h2 class="section-list">类别 - CATEGORIES</h2>
            <div class="subsection-list">
                <div class="collection-list--tile">
                    {{range .ArchiveMeta.Categories}}
                        <a href="{{$.Config.Basic.BaseUrl}}/archives/categories/{{.ColleId}}">
                            <h2 class="collection-list--tile--title">{{.ColleName}}</h2>
                        </a>
                    {{end}}
                </div>
            </div>
            {{if .Config.Archive.ShowTags}}
            <h2 class="section-list">标签 - TAGS</h2>
            <div class="subsection-list">
                <div class="collection-list--tile">
                    {{range .ArchiveMeta.Tags}}
                        <a href="{{$.Config.Basic.BaseUrl}}/archives/tags/{{.ColleId}}">
                            <h2 class="collection-list--tile--title">{{.ColleName}}</h2>
                        </a>
                    {{end}}
                </div>
            </div>
            {{end}}
            {{if .Config.Archive.ShowTimeline}}
            <h2 class="section-list">时间线 - TIMELINE</h2>
            <div class="subsection-list">
                {{$years := .ArchiveMeta.ArticlesOrderByYear}}
                {{range $year := sortByYearDesc (keys $years)}}
                <div class="year-group">
                    <h3>{{$year}}</h3>
                    <div class="article-list">
                        {{range getMapValue $years $year}}
                        <article class="article-list--tile">
                        <a href="{{$.Config.Basic.BaseUrl}}/{{.Url}}">
                            <h2 class="article-list--tile--title">{{.Name}}</h2>
                            <time>{{.Time}}</time>
                        </a>
                        </article>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
            {{end}}
        </header>
        {{template "footer" .}}
    </main>
</body>
</html>
