{{define "sidebar"}}
<aside class="sidebar left-sidebar sticky ">
    <header>
        <figure class="site-avatar">
            <a href="{{.Config.User.HomeUrl}}">
                <img src="{{.Config.User.AvatarUrl}}" alt="{{.Config.User.Name}}">
            </a>
            <span class="emoji">{{.Config.Sidebar.Emoji}}</span>
        </figure>
        <div class=""site-meta>
            <h1 class="site-name">
                <a href="{{.Config.User.HomeUrl}}">
                    {{.Config.User.Name}}
                </a>
            </h1>
            <h2 class="site-description">{{.Config.User.Description}}</h2>
        </div>
    </header>
    <ol class="menu-social">
        {{range .Config.Sidebar.SocialLinks}}
        <li>
            <a href="{{.Url}}" target="_blank" title="{{.Name}}" rel="me">
                {{index $.Icons .Icon}}
            </a>
        </li>
        {{end}}
    </ol>
    <ol class="menu" id="main-menu">
        <li class="menu-item">
            <a href="{{.Config.Basic.BaseUrl}}">
                {{index .Icons .Config.Sidebar.HomeIcon}}
                <span>主页</span>
            </a>
            <a href="{{.Config.Basic.BaseUrl}}/archives/">
                {{index .Icons "archives"}}
                <span>归档</span>
            </a>
            <a href="{{.Config.Basic.BaseUrl}}/about.html">
                {{index .Icons "user"}}
                <span>关于</span>
            </a>
        </li>
    </ol>

</aside>
{{end}}